.backgrounds{
    background-color: lightgray;
}

.titler {
    color: black;
    border-bottom: 1px;
    border-color: black;
    text-align: center;
}

.main_panel{
    background-color: white;
    width: 80%;
    margin: auto;
}

.header{
    background-color: lightgray;
    width: 80%;
    margin: auto;
}

.footer{
    background-color: lightgray;
    width: 80%;
    margin: auto;
    text-align: center;
}

.text_block{
    margin-right: 50px;
    margin-left: 50px;
}

.menu{
    height: 15%;
    text-align: center;
}