.backgrounds {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 62%, rgba(1,200,247,1) 94%, rgba(0,212,255,1) 100%);
}

.titler {
    color: black;
    border-color: black;
    text-align: center;
}

.main_panel{
    background-color: white;
    width: 80%;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header{
    width: 80%;
    margin: auto;
    border-bottom: 2px, black;
}

.footer{
    border: 2px, black;
    width: 80%;
    margin: auto;
    text-align: center;
}

.menu{
    height: 15%;
    text-align: center;
}