.backgrounds{
    background-color: lightgray;
}

.titler {
    color: aqua;
    border-bottom: 1px;
    border-color: black;
}

.main_panel{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}